@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before {
  box-sizing: border-box;
  margin:0;
}

body {
  font-family: 'Bona Nova', serif;
  transition:all 2s ease-in-out;
}

.bg-white-shadow {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.15) 8%,
    rgba(255, 255, 255, 0) 60%
  );
}

h1 {
 font-family:'Syncopate', sans-serif;
}

.shadow-xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  @apply max-h-[60vh];
}

.mobile-waffle, .waffle-shadow{
  min-width: calc(100vw + 50%);
}

.waffle-shadow {
  max-height:100vh
}

.circle-shadow{
  min-width:300px;
  max-width:300px;
  margin:0 auto;
  overflow:hidden;
  transform:translateY(-40%);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  @apply md:min-w-[550px] 
}

@layer utility {
  .bg-md-gradient {
    background: var(--md-gradient);
  }
}

.main-content {
  opacity: 0;
}

body {
  background-color:black;
}

.left-animation {
  opacity: 1;
  animation: fadeInLeft 0.75s ease-in-out;
  animation-delay: 0s;
}


.left-animation-desktop {
  opacity: 1;
  animation: fadeInLeft-desktop 1s ease-in-out;
  animation-delay: 0s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft-desktop {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
  }
}



.font-Raleway {
  font-family:'Raleway', sans-serif;
}


.center-div {
  margin-top:8rem;
  gap:2rem;
  @apply w-full flex flex-col justify-center items-center absolute top-0 md:mt-36 left-0 min-h-[80vh];
}


.background-image {
  background-image: url('/images/desktopBackgroud.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @apply min-h-[80vh] w-full absolute top-0 left-0;
}
.mid-content {
text-align:justify;
max-width:300px;
}


@media (min-width: 768px) {
  .circle-shadow{
  background:radial-gradient( circle, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 75%)
  }
}

